<header class="container">
  <div class="navbar">
    <a class="logo">
      <img src="assets/images/logo.jpeg" alt="logo" />
    </a>
    <nav>
      <i class="fas fa-bars toggle-menu"></i>
      <ul>
        <li><a class="active">Home</a></li>
        <li><a>Home</a></li>
        <li><a>Home</a></li>
        <li><a>Home</a></li>
        <li><a>Home</a></li>
        <li><a>Home</a></li>
      </ul>
      <div class="search">
        <i class="fas fa-search"></i>
      </div>
    </nav>
  </div>

</header>
